*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.2rem;
    background-image: url(back.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
h1, p {
    text-align: center;
    padding: 10px;
    color: aqua;
}
h1 {
    margin-top: 0.5em;
}
form{
    width: 80%;
    background: burlywood;
    padding: 1em 10px;
    margin: 0.6em auto 1em auto;
    border-radius: 12px;
    max-width: 700px;
    min-width: 200px;
}
label, textarea, select, input:not(.exclude){
    display: block;
    margin-top: 0.6em;
}
select, #submit, input:not(.exclude){
    width: 97%;
    height: 40px;
    border: none;
    border-radius: 6px;
}
input, select, textarea {
    font-size: 15px;
}
#submit {
    background: rgb(26, 139, 54);
    margin-top: 15px; 
}
#submit:hover {
    background-color: rgb(95, 81, 64);
}
button:active {
    background-color: red;
    transition-delay: 5s;
}
::placeholder, option {
    padding: 4px;
    font-size: 15px;
}
